::v-deep {
  .el-table {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);

    th,
    tr {
      background-color: rgba(255, 255, 255, 0.2);

      &.active {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }

    td,
    th {
      padding: 8px 0;

    }

    .cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }

  .el-table__body-wrapper {
    min-height: calc(100vh - 65px);
  }
}