.el-form {
  background-color: #313237;
}

.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 12px;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: #FFF;
  background-color: #7f6ce9;
  border-color: #7f6ce9;
  box-shadow: unset;
}

.el-radio-button:first-child .el-radio-button__inner {
  border-left: 0;
}

.el-radio-button:last-child .el-radio-button__inner {}

.el-radio-button__inner {
  background-color: transparent;
  border-color: transparent;
}

.el-radio-button--mini .el-radio-button__inner {
  border-radius: 4px !important;
}

.el-button {
  border: 0;
}

.el-button--info {
  color: #606266;
}

.el-button--info:focus,
.el-button--info:hover {
  // color: #409EFF;
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  opacity: 0.3;
}
