// ::v-deep {
//   .el-table {
//     border-radius: 10px;
//     background-color: rgba(255, 255, 255, 0.2);

//     th,
//     tr {
//       background-color: rgba(255, 255, 255, 0.2);

//       &.active {
//         background-color: rgba(255, 255, 255, 0.6);
//       }
//     }

//     td,
//     th {
//       padding: 8px 0;

//     }

//     .cell {
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;

//     }
//   }

//   .el-table__body-wrapper {
//     min-height: calc(100vh - 65px);
//   }
// }

.el-table,
.el-table__expanded-cell {
  background-color: #313237;

}

.el-table th,
.el-table tr {
  background-color: #313237;

  &.active {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #45464b;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: transparent;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #4a4a50;
  color: #7f6ce9;
}
